<h2>Eventos</h2>
<hr>

<div class="d-flex">    
        <input type="search" 
        class=" form-control me-2 col-md-2"
        [(ngModel)]="filtroLista"
        placeholder="Buscar">
        <button class="btn btn-outline-dark btn-sm" type="submit">Buscar</button>        
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
    <thead class="table-dark text-center">
        <tr>
            <th><button type="button" class="btn btn-outline-light btn-sm" 
                (click)="showImage()">{{!isCollapsed ? "Mostrar" : "Ocultar"}}</button></th>
            <th>#</th>
            <th> Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>        
            <tr *ngFor="let evento of eventos">
                <td id="imgagem" >
                    <img [collapse]="!isCollapsed" [isAnimated]="true" src="/assets/{{evento.imagemURL}}" 
                    [style.width.px]="widthImg"
                    [style.margin.px]="marginImg">
                    <!-- <img [collapse]="isCollapsed" src="/assets/{{evento.imagemURL}}" style="width: 50px; margin: 2px;"> -->
                </td>   
                <td>{{evento.eventoId}}</td>                
                <td>{{evento.tema}}</td>
                <td>{{evento.local}}</td>
                <td>{{evento.dataEvento}}</td>
                <td>{{evento.qtdPessoas}}</td>
                <td>{{evento.lote}}</td>
                <td>opcao</td>
            </tr>        
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center"><h6>Nenhum evento encontrado</h6></td>
        </tr>
    </tfoot>
</table>